.contenido{
	padding: 8%;
	padding-top: 15%;
}

.otroTitulo h1{
	width: 100%;
	color: #000;
	font-weight: bold;
	margin-top: 30%;	
	text-align: center;
}

.danger.estiloTabla{
	color: #000;
}