.contenido{
	padding: 8%;
	padding-top: 15%;
}

.otroTitulo h1{
	width: 100%;
	color: #000;
	font-family: "Roboto";
	font-weight: bold;	
	text-align: center;
}

.danger.estiloTabla{
	color: #000;
}