{% extends 'directorDeProyecto/base/baseDirectorProyecto.html' %}
{% load staticfiles %}
{% block title %}Crear Actividad {% endblock %}
{% block extraLinks %}
<link rel="stylesheet" href="{% static 'css/EstilosCrearProyecto.css' %}">
{% endblock %}
{% block contend %}
<div class="formulario">
	<fieldset>
		<legend>Crear Actividad</legend>
		<form class="form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}
		{{ form.as_p}}
			<div class="formIzq">
				    <div class="form-group">
				      <label for="nombreActividad" class="col-lg-2 control-label labels">Nombre Actividad</label>
				        <input type="text" class="form-control inputs" id="nombreActividad" name="nombreActividad" placeholder="Actividad" required>
				    </div>
				    <div class="form-group">
				      <label for="fechaLimite" class="col-lg-2 control-label labels">Fecha Limite</label>
				        <input type="date" class="form-control inputs" id="fechaLimite" name="fechaLimite" required>
				    </div>
				    <div class="form-group">
				      <label for="descripcion" class="col-lg-2 control-label labels">Descripcion Actividad</label>
				        <textarea class="form-control inputs" rows="3" id="descripcion" name="descripcion" required></textarea>
				    </div>
				    
				    <div class="form-group">
				      <label for="documentoAdjunto" class="col-lg-2 control-label labels">Adjunto</label>
				        <input type="file" class="form-control inputs" id="documentoAdjunto" name="documentoAdjunto" placeholder="Adjunto">
				    </div>
			</div>
			<div class="formDer">
				   
				    <div class="form-group">
				      <label for="idProyecto" class="col-lg-2 control-label labels">Proyecto:</label>
				        <select class="form-control inputs" id="idProyecto" name="idProyecto">
				        	{% if listaProyectos %}
				    		{% for proyectos in listaProyectos %}
				    		<option value="{{proyectos.id}}">{{ proyectos.nombreMacroProyecto}}</option>
				    		{% endfor %}
				    		{% else %}
				    		<option>No tienes proyectos</option>
				    		{% endif %}
				    	</select>
				    </div>
				    
				    <div class="form-group">
				      <label for="corte" class="col-lg-2 control-label labels">Corte</label>
				        <select class="form-control inputs" id="corte" name="corte" required>
				    		<option value="">---</option>
				    		<option value="1">Primero</option>
				    		<option value="2">Segundo</option>
				    		<option value="3">Tercero</option>
				    	</select>
				    </div>
				   
				    <div class="form-group">
				    <label for="tipo_actividad" class="col-lg-2 control-label labels">Tipo Actividad</label>
				        <select class="form-control inputs" id="tipo_actividad" name="tipo_actividad" required>
				        	<option value="">---</option>
				    		<option value="Calificable">Actividad Calificable</option>
				    		<option value="No Calificable">Actividad No Calificable</option>
				    	</select>
				    </div>
				    
				    <div class="form-group">
				      <label for="estado" class="col-lg-2 control-label labels">Estado</label>
				        <select class="form-control inputs" id="estado" name="estado" required>
				        	<option value="">---</option>
				    		<option value="Activa">Actividad Activa</option>
				    		<option value="Inactiva">Actividad Inactiva</option>
				    	</select>
				    </div>
				    
				     <div class="form-group">
				      <label for="porcentaje" class="col-lg-2 control-label labels">Porcentaje</label>
				        <input type="text" class="form-control inputs" id="porcentaje" name="porcentaje" placeholder="Porcentaje">
				    </div>
				    
				    
				    
			<div class="form-group">
			      <div class="col-lg-10 col-lg-offset-5">
			      {% if message %}
					<b>{{ message }}</b>
					{% endif %}
			      {% if listaProyectos %}
			        <button type="submit" class="btn btn-primary">Crear Actividad</button>
			       {% else %} 
			       <b>Por favor crea un proyecto para poder asignarle una actividad</b>
			        <button type="submit" class="btn btn-primary" disabled>Crear Actividad</button>
			        {% endif %} 
			      </div>
			    </div>
		</form>
	</fieldset>
</div>
{% endblock %}
